<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
<title>SMDM quinielas</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="user_nav">  
		<% if user_signed_in? %>  
			Signed in as <%= link_to current_user.username, edit_user_path(current_user.id)  %>. Not you?  
			<%= link_to "Sign out", destroy_user_session_path %>  
		<% else %>  
			<%= link_to "Sign up", new_user_registration_path %> or  
			<%= link_to "Sign in", new_user_session_path %>  
		<% end %>  
	</div> 
	<div id="container">
		<div id="head">
			
			<a href="#" class="logo" title="I am a web designer">Insert your anchor text here.</a>
			<div class="nav">
				<a href="#about">About</a>
				<a href="#services">Services</a>
				<a href="#portfolio">Work</a>
				<a href="#get-in-touch">Contact</a>
				<a href="#">Blog</a>
			</div>
			<div class="clear"></div>
		</div>
		<!-- End Head -->
		
		<div id="content">
		<% unless flash[:error].nil? %>  
			<div id="error_msg"><%= flash[:error] %></div>  
		<% end %>  
		<% unless flash[:notice].nil? %>  
			<div id="notice_msg"><%= flash[:notice] %></div>  
		<% end %>  
		<% unless flash[:alert].nil? %>  
			<div id="alert_msg"><%= flash[:alert] %></div>  
		<% end %>  
		<%= yield %>
	</div>

</body>
</html>